build/*

dep/*

dist/*

pub/*

pyts/tslib/bld/*

pyts/tslib/tslib*.so

pyts/tslib/tslib_*.f*

pyts/tslib/test*

*.old

pyts/tslib/*.obj

pyts/plot/movie/tmp/*

doc/output.txt

doc/source/.DS_Store

doc/source/api/.DS_Store

pyts/tslib.so

test/*.wnd

test/*/*.wnd

test/*.sum

test/*/*.sum

test/*/*.bts

tmp/*

*.orig

*.pyc

*~

.DS_Store

pyts/tslib/tslibmodule.c
