build/

doc-build/

dep/

dist/

pub/

*.egg-info/

pyts/tslib.so.dSYM/

doc/source/api/

pyts/plot/movie/tmp/*

doc/output.txt

doc/source/.DS_Store

pyts/tslib.so

test/*.wnd

test/*/*.wnd

test/*.sum

test/*/*.sum

test/*/*.bts

*.old

*.orig

*.pyc

*~

.DS_Store

MANIFEST

\#*#
.#*
